################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Beadando/SzereloKliensApp/obj/Debug/net6.0/build-gz
/.vs/cSharpProjectVaDaMa/FileContentIndex
/.vs/cSharpProjectVaDaMa/v17
/.vs/slnx.sqlite
/Beadando/.vs/Beadando/FileContentIndex
/Beadando/SzerverApp/obj/Release/net6.0/SzerverApp.assets.cache
/Beadando/IrodaiKliensApp/obj/Debug/net6.0/build-gz
/Beadando/IrodaiKliensApp/bin/Debug/net6.0/wwwroot/_framework
/Beadando/SzerverApp/log20230615.txt
/Beadando/.vs
