################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Beadando/SzereloKliensApp/obj/Debug/net6.0/build-gz
